name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/rag-aerospace:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/rag-aerospace:latest

  create-github-release:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
